$fuente: "Poppins";

@mixin medio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

header {
    height: 10%;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
  }
  
  #nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  #logo {
    color: white;
    padding: 15px;
    font-family: $fuente;
    font-style: italic;
  }
  
  //HOVER DEL MENU DESPLEGABLE
  ul{
    //border: 2px solid #EA39FF;
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #1e1e1e;
    width: 200px;
    height: 95%;
    display: none;
    img{
      width: 20px;
      height: 20px;
      padding: 15px;
    }
  }
  li{
    padding: 15px;
    list-style: none;
    font-family: $fuente;
    color: white;
    text-align: center;
    &:hover{
      color: #824603;
    }
  }
  nav{
    padding: 15px;
  }
  
  #sub_header {
    @include medio;
    text-align: center;
    position: relative;
    left: 30%;
    top: -15px;
    width: 40%;
    height: 30px;
    background-color: gold;
    font-family: $fuente;
    font-size: 20px
  }