@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,700&display=swap");
$fuente: "Poppins";
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body,
html {
  background-color: #1e1e1e;
  height: 100%;
  margin: 0;
}

@mixin medio {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 10%;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  color: white;
  padding: 15px;
  font-family: "Poppins";
  font-style: italic;
}

ul {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #1e1e1e;
  width: 200px;
  height: 95%;
  display: none;
}
ul img {
  width: 20px;
  height: 20px;
  padding: 15px;
}

li {
  padding: 15px;
  list-style: none;
  font-family: "Poppins";
  color: white;
  text-align: center;
}
li:hover {
  color: greenyellow;
}

nav {
  padding: 15px;
}

#sub_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: 30%;
  top: -15px;
  width: 40%;
  height: 30px;
  background-color: gold;
  font-family: "Poppins";
  font-size: 20px;
}
main {
  @include medio();
  flex-direction: column;
  min-height: 80%;
  background-color: #1e1e1e;
}

//FORMULARIO
#formulario {
  @include medio();
}
form {
  width: 500px;
  margin-left: 10px;
  @include medio();
  div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
    input,
    textarea {
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      color: white;
      font-family: $fuente;
      font-size: 20px;
      padding: 10px;
      &:focus {
        border: none;
        border-bottom: 1px solid white;
        outline: none;
      }
      &::placeholder {
        color: white;
      }
    }
    button {
      @include medio;
      margin-top: 20px;
      width: 20%;
      height: 50px;
      background-color: greenyellow;
      color: black;
      border: none;
      font-family: $fuente;
      font-size: 20px;
      border-radius: 20px
    }
  }
}
#enviar {
  @include medio();
}
