 * {
     padding: 0;
 }

 .sb-nav-fixed #menuAdmin #menuAdmin-navbar {
     width: 225px;
     height: 100vh;
     z-index: 1038;
 }

 #menuAdmin {
     display: flex;
 }

 .sb-sidenav {
     display: flex;
     flex-direction: column;
     height: 100%;
     flex-wrap: nowrap;
 }

 #menuAdmin-content {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }