@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,700&display=swap");
$fuente: "Poppins";
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.difuminar div:not(.center) {
  filter: blur(6px);
  z-index: 1;
}

.ocultar {
  display: none;
}

body,
html {
  background-color: #1e1e1e;
  height: 100%;
  margin: 0;
}

@mixin medio {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 10%;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  color: white;
  padding: 15px;
  font-family: $fuente;
  font-style: italic;
}

//HOVER DEL MENU DESPLEGABLE
ul {
  //border: 2px solid #EA39FF;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #1e1e1e;
  width: 200px;
  height: 95%;
  display: none;
  img {
    width: 20px;
    height: 20px;
    padding: 15px;
  }
}
li {
  padding: 15px;
  list-style: none;
  font-family: $fuente;
  color: white;
  text-align: center;
  &:hover {
    color: greenyellow;
  }
}
nav {
  padding: 15px;
}

#sub_header {
  @include medio;
  text-align: center;
  position: relative;
  left: 30%;
  top: -15px;
  width: 40%;
  height: 60px;
  background-color: gold;
  font-family: $fuente;
  font-size: 20px;
}

#comprar {
  position: absolute;
  background-color: #77e13b;
  border: none;
  border-radius: 20px;
  font-family: $fuente;
  font-size: 25px;
  width: 150px;
  height: 60px;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  filter: blur(0);
  filter: none;
}

#select {
  @include medio;
}
#category {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  font-family: $fuente;
  &:focus {
    outline: none;
    color: black;
  }
}

main {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  min-height: 90%;
  background-color: #1e1e1e;
}

#desc {
  @include medio();
  text-align: center;
  color: white;
  font-family: $fuente;
  margin: 20px;
}

.lineas {
  display: flex;
  width: 100%;
  @include medio();
  hr {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 65%;
  }
  p {
    color: white;
    font-family: $fuente;
    margin: 10px;
  }
}

.content {
  float: left;
  margin: 10px;
  width: 600px;
  height: 200px;
  background-color: #2d2d2d;
  text-align: center;
  img {
    float: left;
    max-height: 80%;
    max-width: 200px;
  }
  div {
    display: flex;
    align-items: center;
    height: 15%;
    padding: 3px;
    flex-wrap: wrap;
    padding: 3px;
    margin-top: 20px;
    p:nth-child(1) {
      max-height: 100%;
      text-align: left;
      margin-left: 5px;
      font-family: $fuente;
      font-style: italic;
      color: white;
      font-size: 30px;
    }

    p:nth-child(2) {
      max-height: 100%;
      text-align: left;
      margin-left: 5px;
      font-family: $fuente;
      color: white;
      margin-top: 15px;
      font-size: 15px;
    }
  }
}

//GRID PARA PONER CHAT ALADO
#maingrid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#temas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 70%;
  margin-bottom: 20px;
  @include medio();
  & > div {
    flex-wrap: wrap;
    img {
      margin: 20px;
    }
  }
}

//ASIDE PARA EL CHAT
#aside {
  overflow: scroll;
  border-radius: 5px;
  min-width: 70%;
  min-height: 300px;
  background: #2d2d2d;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5px;
}

form {
  margin-top: 10px;
  input {
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8e8e8e;
    outline: none;
    font-family: $fuente;
    &:focus {
      color: white;
    }
  }
}
//MESAGES
#allcmt {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  #infocmt {
    display: flex;
    justify-content: space-between;
    p {
      color: #8e8e8e;
    }
  }
  #cmt {
    p {
      margin-left: 40px;
    }
  }
}

//FOOTER
footer {
  margin-top: 30px;
}

//TABLET
@media screen and (min-width: 600px) and (max-width: s800px) {
}

/*//ORDENADOR
@media screen and (min-width: 1300px) {
  //GRID PARA PONER CHAT ALADO PC
  #maingrid {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #temas {
    min-width: 70%;
  }
  aside {
    width: 30%;
    min-height: 410px;
    max-height: 470px;
    margin-right: 20px;
    //PARA QUE ESTE SIEMPRE BAJO DERECHA
    //position: fixed;
    //left: 1000px;
  }
}*/

@media screen and (min-width: 450px) and (max-width: 450px) {
  #maingrid {
    
  }
  .content {
    width: 80%;
  }
}

@media screen and (min-width: 1300px) {
}
