@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,700&display=swap");
$fuente: "Poppins";
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body,
html {
  background-color: #1e1e1e;
  height: 100%;
  margin: 0;
}

@mixin medio {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 10%;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
}
#logo {
  color: white;
  padding: 5px;
  font-family: $fuente;
  font-style: italic;
}
#sub_header {
  @include medio;
  position: relative;
  left: 35%;
  top: -15px;
  width: 30%;
  height: 30px;
  background-color: gold;
  font-family: $fuente;
}
main {
  @include medio;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 80%;
  background-color: #1e1e1e;
}
#select {
  @include medio;
}
#category {
  color: white;
  background-color: transparent;
  border: none;
  font-family: $fuente;
  &:focus {
    outline: none;
    color: black;
  }
}
.content {
  margin-top: 5px;
  width: 70%;
  height: 320px;
  background-color: #2d2d2d;
  text-align: center;
  div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    p {
      font-family: $fuente;
      color: white;
    }
  }
}
